.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "navbar navbar navbar navbar" "vertical-menu container container clock" "footer footer footer footer";
}

.navbar {
    grid-area: navbar;
}

.virt-menu {
    grid-area: virt-menu;
}

.footer {
    grid-area: footer;
}

.contin {
    grid-area: contin;
}

.clock {
    grid-area: clock;
}